# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# don't take sensitive files
a_private_test.go
a_private_test.bak
main.bak

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# don't take sqlite databases
*.sqlite
*.db

# don't take the .DS_Store on macs
.DS_Store
testdb.sqlite
